<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Want to improve your code reviews? 🌟
          </h3>
          <p>
            Learn how to better review code and help your team ship quality
            code. Subscribe below and get new posts delivered directly to your
            inbox.
          </p>
        </div>
        <div class="card-body">
          <form
            action="https://pecar.us20.list-manage.com/subscribe/post?u=182f167617f0a3740b4058381&amp;id=6dc97d3405"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
            novalidate
          >
            <div class="form-group">
              <label for="mce-NAME">Name</label>
              <input
                type="text"
                value=""
                name="NAME"
                class="form-control"
                id="mce-NAME"
                aria-describedby="Enter Name"
                placeholder="You"
                required
              />
            </div>
            <div class="form-group">
              <label for="ce-EMAIL">Email</label>
              <input
                type="email"
                value=""
                name="EMAIL"
                class="form-control"
                id="mce-EMAIL"
                aria-describedby="Enter Email"
                placeholder="you@awesome.com"
                required
              />
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_182f167617f0a3740b4058381_6dc97d3405"
                tabindex="-1"
                value=""
              />
            </div>
            <input
              type="submit"
              class="btn btn-primary"
              value="Become better at reviewing code 💌"
              name="subscribe"
              id="mc-embedded-subscribe"
            />
          </form>
          <small>Unsubscribe at any time. 🤙</small>
        </div>
      </div>
    </div>
  </div>
</div>
