<div class="container pt-3">
  <div class="row">
    <div class="col-sm">
      <hr />
      <h4 class="pt-3">
        Join the Newsletter 💌
      </h4>
      <p>
        Get insightful letters aimed at improving your code reviews and
        development process.
      </p>
      <form
        action="https://pecar.us20.list-manage.com/subscribe/post?u=182f167617f0a3740b4058381&amp;id=6dc97d3405"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        novalidate
      >
        <div class="form-group">
          <label for="mce-NAME">Name</label>
          <input
            type="text"
            value=""
            name="NAME"
            class="form-control"
            id="mce-NAME"
            aria-describedby="Enter Name"
            placeholder="You"
            required
          />
        </div>
        <div class="form-group">
          <label for="ce-EMAIL">Email</label>
          <input
            type="email"
            value=""
            name="EMAIL"
            class="form-control"
            id="mce-EMAIL"
            aria-describedby="Enter Email"
            placeholder="you@awesome.com"
            required
          />
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_182f167617f0a3740b4058381_6dc97d3405"
            tabindex="-1"
            value=""
          />
        </div>
        <input
          type="submit"
          class="btn btn-primary"
          value="Subscribe"
          name="subscribe"
          id="mc-embedded-subscribe"
        />
        <input type="hidden" name="FROM" value="blog" />
      </form>
    </div>
  </div>
</div>
